h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Gambetta", serif;
  letter-spacing: -3px;
  transition: 600ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: black;
  outline: none;
  text-align: center;
}

h3:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}

p {
  font-family: "Roboto Slab", serif;
  font-size: large;
  line-height: 1.7em;
  margin-bottom: 1rem;
}

.text-container {
  text-align: left;
  max-width: 800px;
}
