@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");

.room-details-container {
    display: flex;
    color: black;
    gap: 5rem;
    margin: 3rem;
}

.picture-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.picture {
    display: flex;
    height: 20rem;
    width: auto;
}